@{
    ViewData["Title"] = "OrderSucessful";
}

<h1>You have sucessfully purchased the item(s)</h1>
<h1>Thank you!</h1>

<h2>You can check your purchase detail on My Purchases page. </h2>

<p>@ViewBag.ordersucessfulMessage</p>